set_io clk 35
set_io rst 10

# Pines del conector del panel LED en Led_panel_12bpp.
set_io lcd_sck 32  # LP_CLK
set_io lcd_dc 36   # LATCH
set_io lcd_cs 42   # NOE
set_io lcd_rst 43  # ROW[0]
set_io lcd_sdi 4   # RGB0[0]
