BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP "rst" SITE "R7";
IOBUF PORT "rst" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "lcd_sck" SITE "M3";
IOBUF PORT "lcd_sck" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_dc" SITE "N1";
IOBUF PORT "lcd_dc" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_cs" SITE "M4";
IOBUF PORT "lcd_cs" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_rst" SITE "N5";
IOBUF PORT "lcd_rst" IO_TYPE=LVCMOS33;
LOCATE COMP "lcd_sdi" SITE "J13";
IOBUF PORT "lcd_sdi" IO_TYPE=LVCMOS33;
